body {
  font-family: Arial, sans-serif;
  background-color: #6b6262;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
#head{
  color:white
}
.todo-container {
  background: rgb(24, 2, 2);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px #a53636;
  width:350px;
  text-align: center;
  color:black;
}

input {
  width: 70%;
  padding: 8px;
  margin-top: 10px;
  
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  
}

ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 30px;
}


li {
  padding: 10px;
  background: #f9f9f9;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.completed {
  text-decoration: line-through;
  color: gray;
}
